apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
type: Opaque
data:
  root-password: cm9vdDEyMzQ=  # root1234
  database-name: ZGVtb2Ri      # demodb
  username: YXBwX3VzZXI=       # app_user
  password: YXBwX3Bhc3MxMjM=   # app_pass123
